@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500;700&display=swap');

:root {
    --ff-base: 'Outfit', sans-serif;
    
    --fw-medium: 500;
    --fw-bold: 700;

    --clr-main-background: #1a2a33;
    --clr-card-background: #1f3641;
    --clr-card-shadow: #15252d;
    
    --clr-yellow: #f2b137;
    --clr-yellow-active: #ffc860;
    --clr-yellow-shadow: #cc8b13;

    --clr-cyan: #31c3bd;
    --clr-cyan-active: #65e9e4;
    --clr-cyan-shadow: #118c87;

    --clr-gray: #a8bfc9;
    --clr-gray-active: #dbe8ed;
    --clr-gray-shadow: #6b8997;

    --clr-black: #000;
}

/* reset */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

/* stylesheet */

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    font-family: var(--ff-base);
    background-color: var(--clr-main-background);
}

.game {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: inherit;
}

.cell {
    width: 140px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 15px;
    background-color: var(--clr-card-background);
    box-shadow: var(--clr-card-shadow) 0px 8px 0px 0px;



    color: white;
}



.btn-new-game {
    cursor: pointer;
    border: none;
    border-radius: 15px;
    background-color: var(--clr-yellow);
    box-shadow: var(--clr-yellow-shadow) 0px 8px 0px 0px;




    padding: 1rem;
    /* font-weight: var(--fw-bold); */
}



.header {
  display: grid;
  grid-template-columns: repeat(3, 140px);
  gap: inherit;
}

.logo {
  display: flex;
  align-items: center;
}

.turn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: var(--fw-bold);
  color: var(--clr-gray);
  background-color: var(--clr-card-background);
  box-shadow: var(--clr-card-shadow) 0px 4px 0px 0px;
  border-radius: 10px;
  gap: 0.75rem;
  padding: 1rem;
}

.turn-img {
  height: 20px;
  width: 20px;
}

.restart {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.restart button {
  cursor: pointer;
  border: none;
  background-color: var(--clr-gray);
  box-shadow: var(--clr-gray-shadow) 0px 4px 0px 0px;
  border-radius: 10px;
  padding: 1.125rem;
}






/* .score {
  display: grid;
  grid-template-columns: repeat(3, 140px);
  gap: inherit;
} */